{% extends 'base.html' %}


{% block title %}
Prediction : <br>
Machine Learning Model Forecast
{% endblock %}

{% block lead %}
리스트에 등록된 종목의 다음날 상승률을 예측을 확인할 수 있는 페이지입니다.<br>
예측은 ARIMA 회귀 모델을 통해 이루어집니다.<br>
Yahoo Finance 에 등록된 Recommendation 정보도 확인할 수 있습니다.
{% endblock %}

{% block main_body  %}
<form method="POST" action="/predict">
  <div class="form-group">
    <label for="exampleFormControlSelect1">Select the firm</label>
    <select name="target" class="form-control" id="exampleFormControlSelect1">
      {% for each in watchlist %}
      <option value={{each.ticker}}>{{each.name}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="d-grid gap-2 d-md-block">
    <input type="submit" class="btn btn-outline-primary btn-lg" value="Predict" />
  </div>
</form>

{% if forecast %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Company Name</th>
      <th scope="col">Forecast Result</th>
    </tr>
  </thead>
  <tbody>
    <tr class={{ color }}>
      <td> {{ forecast[0] }} </td>
      <td> {{ forecast[1] }} </td>
      <td> {{ forecast[2] }}% </td>
    </tr> 
  </tbody>
</table>  

{% endif %}

{% if recommend %}
<table class="table table-hover"> 
  <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Firm</th>
        <th scope="col">To grade</th>
      </tr>
  </thead>
  <tbody>
    {% for each in recommend %}
    <tr>
      <td>{{ each[0] }}</th>
      <td>{{ each[1][0] }}</td>
      <td>{{ each[1][1] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock  %}
